<!DOCTYPE html>
<html>
<head>
<title>Finance Tracker</title>
</head>
<body>
<div class="center jumbotron">
  <h1 align="center">Welcome to the finance tracker app</h1>
  <p align="center">You can track your finances, as well as your friends!</p>
</div>
</body>
</html>